.card-table-header {
    padding: 10px;
    width: 100%;
}

.header-action-button {
    width: 100px;
    padding: 5px;
    background: green;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
}