.card-table-header {
    padding: 10px;
}

.header-action-button {
    width: 135px;
    padding: 5px;
    background: green;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
}