.card-table-header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.card-table-header-title {
    font-family: 'Ubuntu';
}

.card-table-header-logo svg {
    width: 40px;
    height: 40px;
}