.game-stats{
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.stats-table {
    font-size: small;
    width: 100%;
    min-width: 300px;
    margin: auto;
    line-height: 2em;
    padding: 20px 0px;
}
.game-stat{
    text-align: left;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
}

.label {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}