.header-title {
    font-family: 'Ubuntu';
    font-size: 25pt;
    color: black;
    text-align: center;
}

.header-text {
    padding: 10px 0px;
}

.header-logo svg {
    width: 75px;
    height: 75px;
} 