.header-title {
    font-family: 'Ubuntu';
    font-size: 20pt;
    color: black;
    text-align: center;
}

.header-text {
    padding: 10px 0px;
}

.header-logo svg {
    width: 65px;
    height: 65px;
} 