.card-table-options {
    text-align: center;
    width: 100%;
    margin: auto;
}

.card-table-action-button {
    margin: 0px;
    width: 100px;
    padding: 5px;
    background: green;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
}