.game-setup {
    text-align: center;
}

button {
    text-align: center;
    display: block;
}

.config {
    padding: 5px 0px;
    width: 250px;
    margin: auto;
}

.config-detail {
    padding: 10px 0px;
}

.config-option {
    padding: 5px;
    width: 70px;
    background-color: #000e7e;
    display: inline-block;
    margin: 3px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.config-option-selected {
    background-color: green;
    border-style: inset;
    color: white;
}

.action-button {
    width: 150px;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    background: green;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
}