.game-setup {
    display: inline;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.section-block {
    margin: auto;
}

button {
    text-align: center;
    display: block;
}

.config {
    padding: 20px 0px 0px 0px;
    width: 250px;
    margin: auto;
}

.config-detail {
    padding: 10px 0px;
}

.config-option {
    padding: 8px;
    width: 200px;
    background-color: green;
    display: inline-block;
    margin: 3px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: 'Ubuntu';
    text-transform: uppercase;
}

.config-option-selected {
    background-color: green;
    border-style: inset;
    color: white;
}

.action-button {
    width: 150px;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    background: green;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Ubuntu';
    
}