.cards-12, .cards-16, .cards-20, .cards-24, .cards-30, .cards-40 {
    font-size: 1.25em;
}

.cards-12 {
    width: 23%;
    height: 30%;
}
  
.cards-16 {
    width: 23%;
    height: 25%;
}
  
.cards-20 {
    width: 18%;
    height: 22%;
}
  
.cards-24 {
    width: 15%;
    height: 20%;
}
 
.cards-30 {
    width: 15%;
    height: 18%;
}
  
.cards-40 {
    width: 13%;
    height: 15%;
}
  
  
@media screen and (max-width: 650px) {

    .cards-12, .cards-16, .cards-20, .cards-24, .cards-30, .cards-40 {
        font-size: 1em;
    }

    .cards-12 {
        width: 30%;
        height: 20%;
    }
    .cards-16 {
        width: 30%;
        height: 15%;
    }
  
    .cards-20 {
        width: 30%;
        height: 13%;
    }
  
    .cards-24 {
        width: 30%;
        height: 11%;
    }
  
    .cards-30 {
        width: 22%;
        height: 11%;
    }

    .cards-40 {
        width: 22%;
        height: 9%;
    }
}
