.show-all-highlight-selected .flip-card-back {
	border: 1px solid darkblue;
}

.card-display, .card-display-red {
	word-spacing: 1em;
}

.card-display-red {
	color: darkred;
}

.card-display {
	padding: 2px;
}

.card-display-text {
	padding: 1px;
	word-break: break-word;
	text-align: center;
}

/**
Below here is all about flipping card over 
css animation.
**/
.flip-card-container {
	perspective: 1000px;
	display: flex;
	margin: 2px;
}

.flip-card {
	position: relative;		
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.flip-card svg {
    width: 45px;
    height: 45px;
}

.flip-card-front, .flip-card-back {
	position: absolute;		
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;	
	backface-visibility: hidden; 
	border: 0.5px solid silver;
}

.flip-card-front {
    background-color: #494957;
	background-position: center;
}

.flip-card-back {
	background-color: whitesmoke;
	color: black;
	transform: rotateY(180deg);
}

.flip-card-selected {
	transition: transform .5s;
    transform: rotateY(180deg);

}
.flip-card-unselected {
	transition: transform .5s;
    transform: rotateY(0deg);
}

