.flip-card-container {
	perspective: 1000px;
	display: flex;
	margin: 2px;
}

.flip-card {
	position: relative;		
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.flip-card svg {
    width: 75%;
    height: 75%;
}

.flip-card img {
	width: 75%;
	height: 75%;
}

.flip-card-front, .flip-card-back {
	position: absolute;		
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;	
	backface-visibility: hidden; 
	border: 0.5px solid silver;
}

.flip-card-front {
    background-color: #494957;
	background-position: center;
}

.flip-card-back {
	background-color: whitesmoke;
	color: black;
	transform: rotateY(180deg);
	display: flex;
    flex-wrap: wrap;
}

.flip-card-selected {
	transition: transform .5s;
    transform: rotateY(180deg);

}
.flip-card-unselected {
	transition: transform .5s;
    transform: rotateY(0deg);
}

/*
If all cards are shown, then selected card has border 
*/
.show-all-highlight-selected .flip-card-back {
	border: 1px solid darkblue;
}
